@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
        url("../fonts/flaticon.woff") format("woff"),
        url("../fonts/flaticon.ttf") format("truetype"),
        url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon !important;
    font-size: inherit;
    font-style: normal;
}

.flaticon-plus:before {
    content: "\e000";
}
.flaticon-notification:before {
    content: "\e001";
}
.flaticon-clipboard:before {
    content: "\e002";
}
.flaticon-file:before {
    content: "\e003";
}
.flaticon-list:before {
    content: "\e004";
}
.flaticon-project:before {
    content: "\e005";
}
.flaticon-option:before {
    content: "\e006";
}
.flaticon-search:before {
    content: "\e007";
}
.flaticon-more6:before {
    content: "\e008";
}
.flaticon-group:before {
    content: "\e009";
}
.flaticon-notifications:before {
    content: "\e00a";
}
.flaticon-star:before {
    content: "\e00b";
}
.flaticon-delete:before {
    content: "\e00c";
}
.flaticon-checked:before {
    content: "\e00d";
}
.flaticon-schedule:before {
    content: "\e00e";
}
.flaticon-tag:before {
    content: "\e00f";
}



@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Light.ttf);
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
    font-weight: normal;
    font-style: normal;

}


/* ICON FONT */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-ouplo2');
    src:url('../fonts/icomoon.eot?#iefix-ouplo2') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-ouplo2') format('woff'),
        url('../fonts/icomoon.ttf?-ouplo2') format('truetype'),
        url('../fonts/icomoon.svg?-ouplo2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e036";
}
.icon-menu:before {
    content: "\e120";
}
.icon-files:before {
    content: "\e60e";
}
.icon-arrow-right:before {
    content: "\e601";
}
.icon-email:before {
    content: "\e602";
}
.icon-graph:before {
    content: "\e60f";
}
.icon-bars:before {
    content: "\e610";
}
.icon-archive:before {
    content: "\e600";
}
.icon-mail:before {
    content: "\e606";
}
.icon-search2:before {
    content: "\e60c";
}
.icon-archive2:before {
    content: "\e60d";
}
.icon-bars2:before {
    content: "\f0c9";
}
.icon-file:before {
    content: "\e603";
}
.icon-drawer:before {
    content: "\e604";
}
.icon-stats:before {
    content: "\e605";
}
.icon-attachment:before {
    content: "\e607";
}
.icon-checkmark:before {
    content: "\e608";
}
.icon-exit:before {
    content: "\e609";
}
.icon-trash:before {
    content: "\e60a";
}
.icon-list:before {
    content: "\e60b";
}
